.sideBar {
    width: 852px;
    height: 28px;
    outline: 2px solid rgba(0, 0, 0, 0.9);
    background-color: rgba(243, 244, 246, 0.9);
}

#btnHome:hover {
    transform: scale(1.4);
}

#btnPlayVideo:hover {
    transform: scale(1.2);
}

#btnStopVideo:hover {
    transform: scale(1.2);
}

#btnFullscreen:hover {
    transform: scale(1.3);
}

#videoPlayer {
    width: 852px;
    height: 536px;
    background-color: grey;
    border: 2px solid rgba(0, 0, 0, 0.9);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
}

#timeTrack {
    margin: auto;
    width: 540px;
    height: 28px;
    line-height: 28px;
}

#timeLabel {
    margin: auto;
    padding-top: 0;
    font-size: 14px;
    width: 200px;
    height: 28px;
    line-height: 28px;
}

.canvasDiv {
    width: 852px;
    height: 480px
}

#playCanvas {
    width: 852px;
    height: 480px;
}

.no-padding {
    margin-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
    height: 28px;
    display: inline-block;
    float: left;
    vertical-align: middle;
}

.track-padding {
    padding-left: 0px;
    width: 50px;
    height: 28px;
    display: inline-block;
    float: left;
}

.left {
    width: 28px;
    float: left;
}

.right {
    width: 28px;
    float: right;
}

#footer {
    height: 40px;
    line-height: 40px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: #F3F4F6;
    color: #000;
    font-family: Arial;
    font-size: 14px;
    letter-spacing: 1px;
}
